/*
*  DASHBOARD CSS PAGE FOR PAGE DASHBOARD 
*/

body, html{
  font-family:consolas;
  font-weight:100;
  font-style:normal;
  position:relative;
  height:100% !important;
  overflow-x:hidden;
}

body{
  width:100%;
  font-family:'open sans', sans-serif;
  background:#e0f2f1;
  color:#212121;
}
body:not(.page-horizontal-bar):not(.small-sidebar){
  text-align:center;
}
p{
  display:block;
  font-weight:400;
  letter-spacing:normal;
  line-height:22px;
  font-style:normal;
  white-space:normal;
}
.row{
  max-width:100%;
}

.header{
  background:linear-gradient(#00796b,#009688,#26a69a);
  box-shadow:2px 2.5px 1px #607d8b;
  height:100px;
  width:100%;
}
.header h4{
  text-align:left;
  line-height:58px;
  text-indent:10px;
  letter-spacing:0.3px;
  font-weight:bold;
  word-spacing:0.7px;
  font-size: 40px;
  color:#f5fffe;
  font-family: 'calendas_plusregular';
  text-shadow:2.3px 2.3px 1px #004d40;
  text-transform: capitalize;
}

.top-bar{
  height:30px;
  line-height:30px;
  background:transparent;
  width:99%;
  margin:auto;
}
.top-bar-section ul li{
  background:transparent;
  height:33px;
  line-height:33px;
  margin-right:4px;
}
.top-bar-section li:not(.has-form) a:not(.button){
  background:#00897b;
  height:30px;
  line-height:30px;
}
.top-bar-section li.active:not(.has-form) a:not(.button){
  background:#f3e5f5;
  color:#00897b;
  line-height:33px;
}

.head{
  background:#e0e0e0;
  width:99%;
  margin:10px auto;
  border-radius:5px;
  border-top:1px solid teal;
}
.head h3{
  padding:8px;
  color:#757575;
  text-align:left;
}
.content{
  border-top:1px solid teal;
}

.sidebar{
  min-height:90vh;
  display:block;
  overflow:visible;
  max-width:99%;
  background:#e1f5fe;
}

.sidebar ul li{
  list-style-type:none;
  text-align:center;
  margin-top:10px;
  background:teal;
  border-radius:2px;
}
.sidebar ul li a{
  color:white;
}
.main{
  max-width:95%;
  background:#f9fbe7;
}
.main .start{
  text-align:left;
  padding:20px;
}
.sidebar ul li i{
  color:#fff;
}
