/*
 * BODY CSS BEGINS HERE
 */

body{
  width:100%;
  height:100%;
  background:linear-gradient(rgba(178,223,219,0.8),rgba(178,223,219,0.6)),url("../img/layout/insideegg.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
}
/*
 * BODY CSS ENDS HERE
 */

/*
 * PAGE CSS BEGINS HERE
 */
.row{
  max-width:85%;
}
@media only screen and (max-width: 768px) {
  .row {
    max-width: 100%; 
  } 
}


#content{
  width:100%;
  margin:0;
  padding:0;
}
/*
 * HEADER CSS BEGINS 
 */
#header{
  background:#004d40;
  box-shadow:4px 4px #888888;
  height:90px;
  line-height:90px;
  width:100%;
  margin-top:-0.17rem;
}
#header h4{
  height:90px;
  line-height:90px;
  font-size: 40;
  color:white;
  margin-left:10px;
  font-family: 'Helvetica';
  text-transform: lowercase;
}
/*
 * HEADER CSS ENDS HERE
 */

/*
 * TOP BAR CSS BEGINS HERE
 */

.top-bar{
  background:#004d40;
  height:40px;
  box-shadow:3px 3px #888888;
  line-height:40px;
  margin-top:5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.top-bar-section ul{
  background:#004d40;
}
.top-bar-section ul li{
  background:#004d40;
  border-right:1px solid #b2dfdb;
}
.top-bar-section li.active:not(.has-form) a:not(.button){
  background:#004d40;
  line-height:40px;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button){
  background:#0097a7;
  color:white;
}
.top-bar-section li.active:not(.has-form) a:active:not(.button){
  background:#006064;
}
/*
 * TOP BAR CSS ENDS HERE
 */
/*
 * WRAPPER CSS BEGINS HERE
 */
.wrapper{
  background:#e0f2f1;
  margin-top:15px;
}

.wrapper img {
  height:300px;
}
.side-nav{
  margin:auto;
  max-width:90%;
}
.main-nav{
  max-width:90%;
  margin:auto;
}
/*
 * WRAPPER CSS ENDS HERE
 */

/*
 * FOOTER CSS BEGINS
 */

.footer{
  background:#009688;
}
.footer h3{
  color:white;
  border:1px solid white;
}
.footer p{
  color: white;
  text-align:center;
}

/*
 * FOOTER CSS ENDS
 */









input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
  height:1.9rem;
}
.postfix, .prefix, select{
  height:1.9rem;
}
/*
 * Icon css
 */
.fa-user {
  font-size: 25px;
  color:#a1887f;
  border:1px solid #a1887f;
  padding:2px 7px;
}
.fa-unlock-alt{
  font-size: 25px;
  color:#a1887f;
  padding:2px 7px;
  border:1px solid #a1887f;
}
