/*
 * BODY CSS BEGINS HERE
 */

body{
  width:100%;
  height:100%;
  background:linear-gradient(rgba(33,33,33,0.8),rgba(33,33,33,0.6)),url("../img/layout/windows3.jpg");
  /*background:linear-gradient(rgba(178,223,219,0.75),rgba(178,223,219,0.88)),url("../img/layout/windows3.jpg");*/
  background-repeat:repeat;
  background-attachment:fixed;
}
/*
 * BODY CSS ENDS HERE
 */

/*
 * PAGE CSS BEGINS HERE
 */
.row{
  max-width:88%;
}
@media only screen and (max-width: 768px) {
  .row {
    max-width: 100%; 
  } 
}


#content{
  width:100%;
  margin:0;
  padding:0;
}
/*
 * HEADER CSS BEGINS 
 */
#header{
  background:#00796b;
  box-shadow:2px 2.5px 1px #607d8b;
  height:95px;
  line-height:95px;
  width:100%;
  margin-top:-0.17rem;
  border-radius:2px;
}
#header h4{
  height:92px;
  line-height:92px;
  text-indent:13px;
  letter-spacing:0.5px;
  font-weight:bold;
  word-spacing:1px;
  font-size: 45px;
  color:#f5fffe;
  font-family: 'calendas_plusregular';
  text-shadow:2.5px 2.5px 1px #004d40;
  text-transform: capitalize;
}
/*
 * HEADER CSS ENDS HERE
 */


/*
 * TOP BAR CSS BEGINS HERE
 */

.top-bar{
  background:#00796b;
  height:42px;
  line-height:42px;
  box-shadow:2px 2.5px 1px #546e7a;
  margin-top:4px;
  padding-left:2.5px;
  border-radius:2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.top-bar-section ul{
  background:#00796b;
}
.top-bar-section ul li{
  background:#00796b;
  border-right:1px solid #90a4ae;
}
.top-bar-section li.active:not(.has-form) a:not(.button){
  font-family:verdana;
  background:#00796b;
  height:42px;
  line-height:42px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

}
.top-bar-section li.active:not(.has-form) a:hover:not(.button){
  background:#b0bec5;
  color:#004d40;
  -webkit-filter:brightness(1.2);
  filter:brightness(1.2);
}
.top-bar-section li.active:not(.has-form) a:active:not(.button){
  background:#006064;
}
/*
 * TOP BAR CSS ENDS HERE
 */
/*
 * WRAPPER CSS BEGINS HERE
 */

.wrapper {
  background:#f5f5f5;
  margin-top:1px;
  box-shadow:2px 2px 1.5px #607d8b;
  border-radius:2px;
}

.main-nav{
  max-width:95%;
  margin-top:12px;
}

.orbit-container{
  width:98%;
  margin:auto;
}
.images img {
  border:1px solid teal;
  display:block;
  width:100%;
  height:330px;
}

.side-nav{
  margin-left:auto;
  max-width:90%;
}
.search{
  margin-left:5px;
  margin-right:5px;
}
.order-title{
  border-radius:8px;
  margin-left:5px;
  margin-right:5px;
  margin-top:40px;
}
.order-title h5{
  padding:4px;
  color:#fff;
  background-color:#1D006E;
  text-align:center;
  border-radius:2px;
}
.order img{
  height:125px;
  width:95%;
  margin:auto;
  margin-left:5px;
  border-radius:2px;
}
.services{
  margin:0;
  padding:0;
  color:#795548;
}
.services p{
  font-size:18px;
  font-family:consolas;
  text-align:left;
  padding:5px;
  background:#009688;
  color:#fff;
  border-radius:2px;
}
.services a{
  margin-left:3px;
  font-size:14px;
  letter-spacing:0.2px;
  word-spacing:4px;
  font-family:consolas;
  color:#4e342e;
  -webkit-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
}
.services a:hover{
  color:#1a237e;
}

.services i{
  margin-left:1px;
  margin-right:3px;
}


legend{
  color:#607d8b;
  font-family:'lato';
  font-size:17px;
  letter-spacing:0.3px;
}
.order-form{
  margin-top:20px;
}
.order-form label{
  color:#4e342e;
}
.order-form a{
  font-size:15px;
}
.login{
  margin-top:40px;
  margin-left:5px;
}
.button{
  background-color:#00695c;
}
.button:hover{
  background-color:#009688;
}
.button.tiny{
  font-size:0.99rem;
  font-family:inconsolata;
  
}

.contacthead{
  background:#317E94;
  color:#fff;
  max-width:95%;
  margin:10px auto;
  border-radius:5px;
}
.contacthead h5{
  color:#fff;
  padding:7px;
}
.contact span{
  margin-left:8px;
  color:#317285;
  font-family:monaco;
}
.contact span i{
  margin-top:10px;
  color:#3190AC;
  margin-right:3px;
  font-size:20px;
}
.contact img{
  background:transparent;
  height:150px;
  width:90%;
  margin:auto;
  border-radius:5px;
  position:relative;
  background-color:teal;
  opacity:0.8;
  filter:alpha(opacity=80);
}
.contact img:before{
  background-color:teal;
  opacity:0.6;
  filter:alpha(opacity=60);
}


/*
 * WRAPPER CSS ENDS HERE
 */
/*
 * order2 class css
 */
.order2{
  display:block;
  width:100%;
  margin-top:30px;
}
.order2 .img1{
  display:block;
  height:200;
  margin:auto;
}
.order2 .img2{
  display:block;
  margin:auto;
  height:80px;
}

.social{
  margin:20px 6px;
  padding:auto;
}
.social h5{
  background:#006956;
  color:white;
  text-align:center;
  padding:4px;
  border-radius:2px;
}
.social ul{
  list-style-type:none;
  display:inline-block;
  margin:0;
  padding:0;
}
.social ul li{
  display:inline-block;
  margin:auto;
  padding:auto;
}
.social i{
  font-size:37px;
  display:inline;
  color:gray;
  border:1px solid gray;
  border-radius:50px;
  padding:10px;
}
.fa-facebook:hover{
  background-color:#3b5998;
  color:#fff;
  border:1px solid #3b5998;
}
.fa-twitter:hover{
  background-color:#4099FF;
  color:#fff;
  border:1px solid #4099FF;
}
.fa-google-plus:hover{
  background-color:#D34836;
  color:#fff;
  border:1px solid #D34836;
}
/*
 * FOOTER CSS BEGINS
 */

.footer{
  background:#009688;
}
.footer h3{
  color:white;
  border:1px solid white;
}
.footer p{
  color: white;
  text-align:center;
}

/*
 * FOOTER CSS ENDS
 */


input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
  height:1.9rem;
}
.postfix, .prefix, select{
  height:1.9rem;
}
/*
 * Icon css
 */
.fa-user {
  font-size: 28px;
  color:#78909c;
  -webkit-transition:all 0.5 ease-in-out;
 transition:all 0.5 ease-in-out;
}
.fa-user:hover{
  color:#009688;
}
.fa-unlock-alt{
  font-size: 28px;
  color:#78909c;
  -webkit-transition:all 1 ease-in-out;
  transition:all 1 ease-in-out;
}
.fa-unlock-alt:hover{
  color:#009688;
}
fieldset{
  border:1px solid #b2dfdb;
}






/*
 *INDEX PAGE LAYOUT PARAGRAPH CSS
 */
.index{
  margin:auto;
}
.index h3{
  color:#006064;
  font-family:inconsolata;
}
.index h4{
  font-family: inconsolata;
  color:#795548;
}
.index p{
  font-family:consolas;
  margin-top:20px;
  font-size:14px;
  text-align:justify;
  text-justify:inter-word;
}






