<ul class="menu menu-accordion">
  <li>
    <i class="fa fa-user"></i><br>
    <a href="#">Pending</a>
  </li>
  <li>
    <i class="fa fa-user"></i><br>
    <a href="#">Assigned</a>
  </li>
  <li>
    <i class="fa fa-user"></i><br>
    <a href="#">completed</a>
  </li>
  <li>
    <i class="fa fa-user"></i><br>
    <a href="#">Finished</a>
  </li>
  <li>
    <i class="fa fa-user"></i><br>
    <a href="#">payed</a>
  </li>
  <li>
    <i class="fa fa-user"></i><br>
    <a href="#">active</a>
  </li>
</ul>
