<ul class="menu menu-accordion">
  <li>
    <i class="fa fa-user"></i><br>
    <a href="#">Users</a>
  </li>
  <li>
    <i class="fa fa-user"></i><br>
    <a href="#">Writers</a>
  </li>
  <li>
    <i class="fa fa-user"></i><br>
    <a href="#">Clients</a>
  </li>
  <li>
    <i class="fa fa-user"></i><br>
    <a href="#">roles</a>
  </li>
  <li>
    <i class="fa fa-user"></i><br>
    <a href="#">payed</a>
  </li>
  <li>
    <i class="fa fa-user"></i><br>
    <a href="#">active</a>
  </li>
</ul>
