<script src="public_html/bower_components/foundation/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="public_html/bower_components/foundation/js/foundation.min.js" type="text/javascript"></script>
    <script src="public_html/bower_components/foundation/js/foundation/foundation.topbar.js" type="text/javascript"></script>
    <script src="public_html/bower_components/foundation/js/foundation/foundation.accordion.js" type="text/javascript"></script>
    <script src = "public_html/bower_components/foundation/js/foundation/foundation.reveal.js" type="text/javascript"></script>
    <script src="public_html/bower_components/foundation/js/foundation/foundation.equalizer.js" type="text/javascript"></script>
    <script src="public_html/bower_components/foundation/js/foundation/foundation.orbit.js" type="text/javascript"></script>
    <script>
      $(document).foundation();
    </script>
    </body>
    </html>

