<html>
  <head>
    <title>academic</title>
    <link href="public_html/bower_components/foundation/css/foundation.min.css" type="text/css" rel="stylesheet" />
    <link href="public_html/bower_components/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="public_html/bower_components/foundation/css/normalize.min.css" type="text/css" rel="stylesheet" />
    <link href="public_html/css/dashboard.css" type="text/css" rel="stylesheet" />
    <link href="public_html/Webfont/Calendas-Plus-Regular-Webfont/stylesheet.css" type="text/css" rel="stylesheet">
    <link href="public_html/Webfont/AnsonFont-1.01/web/stylesheet.css" type="text/css" rel="stylesheet">
    <script src="public_html/bower_components/modernizr/modernizr.js"></script>
  </head>
 
