
<div class="row header">
    <h4>Academia Zone</h4>
    <nav role="navigation" class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span></span>
          </a>
        </li>

      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li class="active">
            <a href="#">Orders Section</a>
          </li>
          <li>
            <a href="#">Writing section</a>
          </li>
          <?php if($role=="admin"){?>
          <li>
            <a href="#">Manage jobs</a>
          </li>
          <?php } ?>

        </ul>
    
        <ul class="right">
          <?php if($role=="admin"){?>
          <li>
            <a href="#">My users</a>
          </li>
          <?php } ?>
          <li>
            <a href="<?php echo LIBRARY_PATH.'/logout.php'  ?>">log out</a>
          </li>

          <li>
            <a href="#">My Profile</a>
          </li>
          <li>
            <a href="#">My Account</a>
          </li>
        </ul>
      </section>
    </nav>
</div>
