
                  <div class="services">
                    <p>Our Services</p>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Essay Writing</a><br>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Term Paper Writing</a><br>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Dissertation Writing</a><br>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Research paper</a><br>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>CourseWork Writing</a><br>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Homework Writing</a><br>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Custom Writing</a><br>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Editing Writing</a><br>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Proofreading</a><br>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Speech Writing</a><br>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Custom Writing</a><br>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Academic Writing</a><br>
                  </div>

              <!-- Order form for users -->
                <div class="order-form">
                  <fieldset>
                    <legend>Order form</legend>
                    <form action="" method="post" enctype="multipart/form-data">
                      <label>Document Topic</label>
                      <input type="text" name="topic" disabled placeholder="My topic">
                      <label>Document Type</label>
                      <select disabled name="type"><?php include("doctype.html") ?></select>
                      <label>Subject Area</label>
                      <select name="subject" disabled><?php include("subject.html") ?></select>
                      <label>Academic level</label>
                      <select name="academic" disabled><?php include("edulevel.html") ?></select>
                                            <label>Preferred language</label>
                      <select disabled name="language"><?php include("language.html") ?></select>
                      <a class="button tiny radius" href="#">Order Form</a>
                    </form>
                </fieldset>
              </div>
            <!-- Order form ends hers -->

                
