
        <nav role="navigation" class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
            </li>
            <li class="toggle-topbar menu-icon">
              <a href="#">
                <span>menu</span>
              </a>
            </li>
          </ul>
          <section class="top-bar-section">
            <ul class="left">
              <li class="active item-1">
                <a href="index.php">HOME</a>
              </li>
              <li class="active item-2">
                <a href="#">ABOUT US</a>
              </li>
              <li class="active item-3">
                <a href="#">OUR SERVICES</a>
              </li>
              <li class="active item-4">
                <a href="#">ORDER NOW</a>
              </li>
              <li class="active item-5">
                <a href="#">WHY US</a>
              </li>
              <li class="active item-6">
                <a href="#">CONTACT US</a>
              </li>
            </ul>
          </section>
        </nav>
