
              <!-- Search form acting as layout part -->
              <div class="search">
                <form action="#" method="get" class="search-form">
                  <div class="input-group">
                    <input type="text" placeholder="search..." class="form-control search-input" name="search"/>
                  </div>
                </form>
              </div>
              <!-- Search form ends here -->

                            <!-- Login form as part of layout -->
              <div class="login">
                <fieldset>
                  <legend>Login Credentials</legend>
                  <form action="login.php" method="post">
                    <div class="row collapse">
                      <div class="medium-1 columns"><i class="fa fa-user" aria-hidden="true"></i></div>
                      <div class="medium-11 columns"><input type="text" name="username"></div>
                    </div>
                    <div class="row collapse">
                      <div class="medium-1 columns"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
                      <div class="medium-11 columns"><input type="password" name="password"></div>
                    </div>
                    <div class="row collapse">
                      <div class="medium-12 end"><input class="button tiny radius" type="submit" name="submit" value="login"></div>
                    </div>
                  </form>
                </fieldset>
              </div>
              <!-- Login form ends here -->

              <!-- Order now 2 picture for site -->
              <div class="order2">
                <img src="public_html/img/layout/OrderNow.png" class="img1" alt="" />
                <img src="public_html/img/layout/Order-Now-Teal.png" alt="" class="img2"/>
              </div>
              <!-- Order now picture ends here -->
 

              <!-- Contact us picture -->
              <div class="contacthead">
                <h5>Contact us on</h5>
              </div>

              <div class="contact">
                <img src="public_html/img/layout/contact-icons.png" alt="" />
<!-- use icons to define contact details to make it look cool -->
                <span><i class="fa fa-envelope" aria-hidden="true"></i>:  academiazone@gmail.com</span><br>
                <span><i class="fa fa-phone" aria-hidden="true"></i>  : +1-315-355-3664</span>
              </div>
            
              <!-- Contact us picture ends -->


              <!-- Order title and image -->
              <div class="order-title">
                <h5>Make your order</h5>
                <div class="order">
                  <img src="public_html/img/layout/quality.jpg">
                </div>
              </div>
               <!--order title and pic ends here -->
  
              <!-- social media Hook up links for site -->
              <div class="social">
                <h5>FOLLOW US AND LIKE US</h5>
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>

              <!-- Social media hook up ends here -->


                            
            
